@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 100% 94.1%;
    --foreground: 207 44% 15%;
    --card: 0 0% 100%;
    --card-foreground: 207 44% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 207 44% 15%;
    --primary: 195 100% 50%;
    --primary-foreground: 207 44% 10%;
    --secondary: 207 50% 90%;
    --secondary-foreground: 207 44% 15%;
    --muted: 207 50% 90%;
    --muted-foreground: 207 30% 50%;
    --accent: 207 44% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 44% 88%;
    --input: 207 44% 88%;
    --ring: 195 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 207 30% 15%;
    --foreground: 0 0% 98%;
    --card: 207 30% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 207 30% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 100% 50%;
    --primary-foreground: 207 44% 10%;
    --secondary: 207 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 207 30% 25%;
    --muted-foreground: 207 10% 60%;
    --accent: 207 44% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 30% 25%;
    --input: 207 30% 25%;
    --ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
